* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.288);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.buttons_box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}
.button {
  padding: 8px 15px;
  background-color: bisque;
  border: 1px solid rgba(0, 0, 0, 0.549);
  cursor: pointer;
  transition: 0.5s ease;
}
.button:hover {
  background-color: coral;
}
.container {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
}
.food_container {
  width: auto;
  height: auto;
  display: flex;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.164);
}
.image_box {
  width: 250px;
  height: 150px;
}
#food_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.text_container {
  width: 350px;
  padding: 15px;
}
.title_price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
#food_title {
  font-size: 20px;
}
#description {
  font-size: 15px;
}
